{% extends "base.html" %}

{% block content %}

<h1>Calculate Compound Interest</h1>

<form action="" method="post" novalidate>
    {{ invest_form.hidden_tag() }}
    <div class="form-input">
        {{ invest_form.initial_contribution.label }}<br/>
        {{ invest_form.initial_contribution(size=18) }}
        {% for error in invest_form.initial_contribution.errors %}<br/>
            <span class="validation-error">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div class="form-input">
        {{ invest_form.yearly_contribution.label }}<br/>
        {{ invest_form.yearly_contribution(size=18) }}
        {% for error in invest_form.yearly_contribution.errors %}<br/>
            <span class="validation-error">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div class="form-input">
        {{ invest_form.years.label }}<br/>
        {{ invest_form.years(size=18) }}
        {% for error in invest_form.years.errors %}<br/>
            <span class="validation-error">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div class="form-input">
        {{ invest_form.apy.label }}<br/>
        {{ invest_form.apy(size=18) }}
        {% for error in invest_form.apy.errors %}<br/>
            <span class="validation-error">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div>{{ invest_form.submit_invest() }}</div>
</form>

{% if total %}
    <div>
        {% if base64_figure %}
            <img src="data:image/png;base64, {{ base64_figure }}" alt="Stack Graph"/>
        {% endif %}
        <div>Total: ${{ total }}</div>
        {% if effective_rate %}
            <div>Effective Interest Rate: {{ effective_rate }}%</div>
        {% endif %}
    </div>
{% endif %}

{% endblock %}
