{% extends "base.html" %}
{% block content %}
<h1>Calculate Compound Interest</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.initial_contribution.label }}<br/>
        {{ form.initial_contribution(size=32) }}
        {% for error in form.initial_contribution.errors %}<br/>
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.yearly_contribution.label }}<br/>
        {{ form.yearly_contribution(size=32) }}
        {% for error in form.yearly_contribution.errors %}<br/>
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.apy.label }}<br/>
        {{ form.apy(size=32) }}
        {% for error in form.apy.errors %}<br/>
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.years.label }}<br/>
        {{ form.years(size=32) }}
        {% for error in form.years.errors %}<br/>
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% if total %}
<div>
    <p>Total: ${{ total }}</p>
</div>
{% endif %}
{% endblock %}
